
@font-face {
  font-family: 'Akrobat-Regular';
  src: url('Akrobat-Regular.eot?#iefix') format('embedded-opentype'),  url('Akrobat-Regular.otf')  format('opentype'),
	     url('Akrobat-Regular.woff') format('woff'), url('Akrobat-Regular.ttf')  format('truetype'), url('Akrobat-Regular.svg#Akrobat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
